{% extends "layout.html" %}

{% block content %}
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">
                <div id="app">
                    [[ band.title ]]
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts%} 
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
        var app = new Vue ({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                band: {}
            },
            mounted: function() {
                this.fetchData();
            },
            methods: {
                fetchData: function() {
                    this.$http.get('/test').then(response => {
                        this.band = response.body;
                    },
                    response => {
                        console.log('stupid error');
                    })

                }
            }
        })
    </script>
{% endblock%}